<template name="post_item">
  <div class="post post-{{rank}} {{#if sticky}}sticky{{/if}} {{inactiveClass}}" id="{{_id}}">

<section class="post-content">
    {{#each categories}}
        <div class="badge {{slug}}">
        </div>
    {{else}}
        <div class="badge">
        </div>
    {{/each}}
    <div class="rank">
        {{#if showRank}}<span class="post-rank">{{rank}}</span>{{/if}}
    </div>
    <div class="vote">
        {{#if voted}}
        <span class="upvote-link voted"><!-- <i class="icon-check"></i> --></span>
        {{else}}
        <a class="upvote-link not-voted" href="#"><i class="icon-up"></i></a>
        {{/if}}
    </div>
<div class="body">
    {{#if sticky}}
    <span class="post-sticky">
      <span>Sticky</span>
  </span>
  {{/if}}
  <h2>
      <a href="{{postLink}}" class="title" role="title" target="_blank">{{headline}}</a>
      {{#each categories}}
      <a href="{{categoryLink}}" class="post-category category-{{slug}}">{{name}}</a>
      {{/each}}
  </h2>
  <div class="author">
      via 
      {{#if url}}
      <span>{{domain}}</span>
      {{/if}}
      by <a class="post-author" href="/users/{{userId}}">{{authorName}}</a>  (1 {{votes}})
  </div>
  <article class="content">
  </article>

  <!-- ====== start controls for editing or author of the post ========-->        
  <span class="hidden">
      {{#if can_edit}}
      | <a href="/posts/{{_id}}/edit" class="edit-link goto-edit">Edit</a>
      {{/if}}
      {{#if currentUser.isAdmin}}
      <span class="hidden"> | status: {{status}}, votes: {{votes}}, baseScore: {{baseScore}}, score: {{short_score}}</span>
      {{/if}}
  </span>
  <!-- ====== end controls for editing or author of the post ========-->    

</div>
<div class="attributes">
    <time>{{ago}}</time>
    <div class="comments">
      <a class="go-to-comments" href="/posts/{{_id}}">{{comments}} {{commentsDisplayText}}</a> <i class="icon"></i>
      <a href="#">Join Conversation</a>
  </div>
</div>
</section>


{{#if body}}
<div class="post-message markdown">{{{body_formatted}}}</div>
{{/if}}
</div>
</template>
